@import 'nib'
global-reset()

@import '_mixin'
@import '_conf'
@import '_mod'








// スタイル設定
// --------------------------------------------
body
  m_size_full();
  box-sizing: border-box;

a
  color: inherit;
  text-decoration: none;

svg
  width: 100%
  height: 100%
